* {
  margin: 0;
}

.App {
  text-align: center;
  background: url(https://media.giphy.com/media/FlodpfQUBSp20/giphy.gif);
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  font-family: Garamond, Georgia, sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  color: white;
  padding: 20px;
}

.header-title {
  font-family: Garamond, Georgia, sans-serif;
}

.detail-header {
  font-family: Garamond, Georgia, sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.home-link:hover {
  color: rgb(72, 72, 136);
}

.main-add-btn {
  border: #fff;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 300px;
  font-family: Garamond;
  font-size: 18px;
  background-color: #b1acc9;
  margin-top: 30px;
}

.add-btn {
  border: #fff;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 300px;
  font-family: Garamond;
  font-size: 18px;
  background-color: #b1acc9;
  margin-top: 30px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Garamond, Georgia, sans-serif;
}

.song-image {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.empty-list {
  color: transparent;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.main-btns {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.song-title {
  font-size: 35px;
}

.text {
  font-size: 26px;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.form-input {
  margin: 5px;
}

.form-label {
  margin-right: 5px;
  color: white;
  font-family: Garamond, Georgia, sans-serif;
  font-size: 1.5rem;
  padding-right: 20px;
}

.input-field {
  height: 20px;
  font-family: Garamond;
  font-size: 20px;
}

.btn {
  border: #fff;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 300px;
  font-family: Garamond;
  font-size: 18px;
  background-color: #b1acc9;
}

.task-btn {
  border: #fff;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 150px;
  font-family: Garamond;
  font-size: 18px;
  background-color: #b1acc9;
  margin: 5px;
}

/* Detail View */

.song-info {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-song-image {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.edit-link {
  color: #ffffff;
  font-family: Garamond;
  font-size: 26px;
}

.edit-link:hover {
  text-decoration: none;
}

.detail-song-text {
  font-family: Garamond, Georgia, sans-serif;
  font-size: 30px;
  color: white;
  height: 35px;
}
